<!-- <div>
  <img  src="assets/mamashop3.jpeg" 
  class="bg">
  <div class="mask" style="background-color: rgba(0, 0, 0, 0.6)">
    <div class="d-flex justify-content-center align-items-center h-100">
      <div class="text-white">
        <h1 class="mb-3">The shop every singaporean needs</h1>
        <h4 class="mb-3">Psst the best things are inside!!</h4>
        <a class="btn btn-outline-light btn-lg" href="#!" role="button"
          >Enter now</a
        >
      </div>
    </div>
  </div>
  <h1 >The shop every singaporean needs</h1>
  <h3 >Psst the best things are inside!!</h3>
 
</div> -->


  

  <!-- Background image -->
  <div style="background-image: url('/assets/mamashop4.jpg');" class="bg text-center">
    <!-- <img  src="assets/mamashop3.jpeg" class="bg"> -->
    <div class="mask layer" style="background-color: rgba(0, 0, 0, 0.6)">
      <div class="d-flex justify-content-center align-items-center text">
        <div class="text-white">
          <h1 class="mb-3">That shop every Singaporean needs</h1>
          <h4 class="mb-3">Psst the best things are inside</h4>
          <div *ngIf="weather">
            <h5 class="mb-3">{{weather.description}}<img class="weather-icon" src="{{url}}{{weather.icon}}@2x.png"></h5>
            <h5 class="mb-3">{{weather.temp}} °C</h5>
          </div>
          <a class="btn btn-outline-light btn-lg" [routerLink]="[ '/signup' ]" role="button"
            >Enter now</a
          >
        </div>
      </div>
    </div>
  </div>

