<div class="container">
    <div
      class="row d-flex align-items-center justify-content-center"
      style="height: 200px"
    >
      <a type="button" class="google-button" (click)="signupGoogle()">
        <img src="assets/g-logo.png" class="google-logo" alt="" />
        <span class="google-font">Sign up with Google</span>
      </a>
    </div>
  
    <div class="container">
      <div *ngIf="user" class="d-flex align-items-center justify-content-center"
      style="height: 200px">
        <img src="{{ user.photoUrl }}">
        <div>
          <h4>{{ user.name }}</h4>
          <p>{{ user.email }}</p>
        </div>
      </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form [formGroup]="form" (ngSubmit)="signIn()">
                <div class="form-group">
                    <input type="email" class="form-control" formControlName="username" placeholder="email" />
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="password" formControlName="password" />
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="re-enter password" formControlName="password1" />
                </div>

                <div class="d-flex justify-content-end">
                    <button type="submit" [disabled]="form.invalid" class="btn btn-info">Login</button>
                </div>
                <div class="alert alert-danger mt-3" *ngIf="errorMessage">
                {{errorMessage}}
                </div>
            </form>
        </div>
    </div>
</div>
