<div class="container-fluid">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Item</th>
            <th scope="col">Qty</th>
            <th scope="col">Price</th>
            <th scope="col">Subtotal</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of cart;let i = index">
            <th scope="row">{{i+1}}</th>
            <td>{{item.title}}</td>
            <td>{{item.qty}}</td>
            <td>{{item.price | currency }}</td>
            <td>{{item.qty * item.price | currency}}</td>
          </tr>
        </tbody>
        <tfoot>
            <td style="text-align: end;"scope="row" colspan="4">Grandtotal</td>
            <td>{{total|currency}}</td>
        </tfoot>
      </table>
      <div class="row d-flex justify-content-end">
          <button class="mr-3 btn btn-success" type="button" [disabled]="!cart.length" (click)="checkout()">Checkout</button>
          <button class="mr-3 btn btn-danger" type="button" [disabled]="cart.length == 0" (click)="emptyCart()">Empty Cart</button>

      </div>
      <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
       {{errorMessage}}
      </div>
</div>
