<div class="container-fluid">

  <div *ngIf="message" class="alert alert-success alert-dismissible fade show" role="alert">
    {{message}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="mt-3 row d-flex justify-content-start" *ngIf="itemDetails.category">
    <div class="col-md-3">
      <a [routerLink]="['/categories',itemDetails.category.toLowerCase()]">{{itemDetails.category | titlecase }}</a>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-6 ">
      <div class="row d-flex justify-content-center">
        <div class="col-md-2">
          <ul class="list-group" *ngFor="let item of images">
            <li class="list-group-item" style="height: 64px; width:64px">
              <img style="height: auto; width: 100%;"  src="{{url}}/{{item}}" (click)="changeImage(item)">
            </li>
          </ul>
        </div>
        <div class="col-md-4">
          <img style="width: 400px;" src="{{url}}/{{displayImage}}">
        </div>
      </div>
    </div>
    <div class="col-md-6 d-flex justify-content-center" *ngIf="itemDetails">
      <div class="card" style="width: 18rem;">
        <div class="card-body ">
          <h5 class="card-title">{{itemDetails.title}}</h5>
          <p class="card-text">{{itemDetails.description}}</p>
          <p>Price: {{itemDetails.price | currency}}</p>
          <p>Posted: {{itemDetails.timestamp | date}}</p>
          <!-- <p>Condition: {{itemDetails.condition}}</p> -->
          <p>Category: {{itemDetails.category | titlecase }}</p>
          <!-- <p>{{itemDetails.paymentMethod}}</p> -->
          <!-- <p>{{itemDetails.dealMethod}}</p> -->
          <form *ngIf="role == 0" [formGroup]="form" (ngSubmit)="addItem()">
            <label for="">Qty:</label>
            <select class="form-control" formControlName="qty">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
            <button class="mt-3 btn btn-info" [disabled]="form.invalid" type="submit">Add to Cart</button>
          </form>
          <button *ngIf="role == 1" class="mt-3 btn btn-info" (click)="deleteItem()" type="button">Delete</button>
        </div>
      </div>
    </div>
  </div>

</div>
